.shop-style {
  padding: 10rem 30rem;
  background-color: burlywood;
  border: 10px solid brown;
  position: relative;
  display: flex;
  flex-direction: row;
}
.shop-layout {
  background-color: black;
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.shop-section {
  background-color: lightgrey;
  border: 2px dashed yellow;
  border-radius: 20px;
  padding: 1rem;
  margin-right: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shop-layout button {
  margin-left: 1rem;
  font-weight: bold;
  background-color: rgb(0, 255, 68);
}
.shop-section h1 {
  font-family: Oswald;
}
.food {
  display: flex;
  flex-direction: row;
}
.food p {
  font-weight: bold;
  color: green;
}
.item-section {
  display: flex;
  flex-direction: row;
}
.toy {
  display: flex;
  flex-direction: row;
}
.toy p {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
  color: yellow;
}
#heart {
  width: 1rem;
  height: 1rem;
}
#lightning-bolt {
  width: 1rem;
  height: 1rem;
}
.coins {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  right: 10px;
}
#coin {
  height: 1rem;
  width: 1rem;
}
#head-back {
  color: white;
}