.pet {
  text-align: center;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
.pet img {
  height: 10rem;
  width: 10rem;
}
.container {
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
}
a {
  display: block;
  text-align: center;
}
#abandon {
  background-color: red;
  color: white;
  font-weight: bold;
}
#no-pets {
  text-align: center;
}
#new-pet {
  text-align: center;
  margin-top: 10rem;
}
.health-hearts {
  display: flex;
  flex-direction: row;
}
#heart {
  width: 2rem;
  height: 2rem;
}