.pet {
  text-align: center;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.action-buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.action-buttons button {
  margin: 5px;
}
.playground-form{
  margin-top: 1rem;
}
.health-hearts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#heart {
  width: 2rem;
  height: 2rem;
}
#happiness {
  width: 5rem;
  height: 5rem;
}
#drained-energy {
  background-color: red;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
}
.inventory {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.inventory-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid black;
  font-weight: bold;
  width: 10rem;
  height: 5rem;
  margin-right: 5px;
  background-color: lightgrey;
}
.inventory-item p {
  margin: 0px;
}
.fullness {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  color: green;
}
.excitement {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  color: yellow;
}